@font-face {
    font-family: 'Aeonik Fono SemiBold';
    src: url('AeonikFono-SemiBold.woff2') format('woff2'),
        url('AeonikFono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

