@font-face {
    font-family: 'AeonikFono-SemiBold';
    src: url('AeonikFono-SemiBold.woff2') format('woff2'),
        url('AeonikFono-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

