@font-face {
    font-family: 'Aeonik-Air';
    src: url('Aeonik-Air.woff2') format('woff2'),
        url('Aeonik-Air.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-AirItalic';
    src: url('Aeonik-AirItalic.woff2') format('woff2'),
        url('Aeonik-AirItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-Thin';
    src: url('Aeonik-Thin.woff2') format('woff2'),
        url('Aeonik-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-ThinItalic';
    src: url('Aeonik-ThinItalic.woff2') format('woff2'),
        url('Aeonik-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-Light';
    src: url('Aeonik-Light.woff2') format('woff2'),
        url('Aeonik-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-LightItalic';
    src: url('Aeonik-LightItalic.woff2') format('woff2'),
        url('Aeonik-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-Regular';
    src: url('Aeonik-Regular.woff2') format('woff2'),
        url('Aeonik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-RegularItalic';
    src: url('Aeonik-RegularItalic.woff2') format('woff2'),
        url('Aeonik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-Medium';
    src: url('Aeonik-Medium.woff2') format('woff2'),
        url('Aeonik-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-MediumItalic';
    src: url('Aeonik-MediumItalic.woff2') format('woff2'),
        url('Aeonik-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-SemiBold';
    src: url('Aeonik-SemiBold.woff2') format('woff2'),
        url('Aeonik-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-SemiBoldItalic';
    src: url('Aeonik-SemiBoldItalic.woff2') format('woff2'),
        url('Aeonik-SemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-Bold';
    src: url('Aeonik-Bold.woff2') format('woff2'),
        url('Aeonik-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-BoldItalic';
    src: url('Aeonik-BoldItalic.woff2') format('woff2'),
        url('Aeonik-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-Black';
    src: url('Aeonik-Black.woff2') format('woff2'),
        url('Aeonik-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik-BlackItalic';
    src: url('Aeonik-BlackItalic.woff2') format('woff2'),
        url('Aeonik-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

